.greet-container {
    p {
        line-height: 1.8;
    }
}


#greet {
    text-align: left;
    margin-top: 1em;
    font-size:3em;
}

#self-intro {
    font-size: 20px;
    float: left;
    width: 60%;
}

#selfie {
    margin-left: 5%;
    width: 30%;
    align-self: right;
}

